/ConnectionManager.class
/DemographicDao.class
/EthnicityDao.class
/NeighborhoodDao.class
/PublicSchoolDao.class
/RentDao.class
/RestaurantDao.class
/SchoolTypeDao.class
/UserDao.class
/ZipCodeDao.class
/JobDescriptionDao.class
/JobDetailDao.class
/JobDepartmentDao.class
/EducationalAttainmentDao.class
