/AgeData$AgeRange.class
/AgeData.class
/Demographic.class
/EducationalAttainment$EdType.class
/EducationalAttainment.class
/Ethnicity$EthnicityType.class
/Ethnicity.class
/JobDepartment.class
/JobDetail.class
/Neighborhood.class
/PublicSchool.class
/Rent$OccupancyType.class
/Rent.class
/Restaurant$RestaurantType.class
/Restaurant.class
/SchoolType$SchoolTypology.class
/SchoolType.class
/User.class
/ZipCode.class
